* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background: #23549c; */
  
}

.all {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 20%;
  margin: 100px;
  padding: 20px 0;
  /* position: relative; */
  box-shadow: 0 4px 8px 0 #212427;
  border: 1px solid #9c9d9e;
}

.timer {
  /* position: absolute; */
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  align-items: center;
}

#textarea {
  width: 96%;
  margin: 0 auto;
  padding: 15px 0;
  /* position: absolute; */
  box-shadow: 0px 3px 7px 0 #232425;
}

.btns {
  width: 96%;
  margin: 0 auto;
}

#stop {
  background: #e25151;
}

#start {
  background: #6ce680;
}

#reset {
  background: #d1c3c3;
}

#start,
#stop,
#reset {
  width: 32%;
  padding: 8px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}